# Excersise_AmiraliHabibi

# Introduction
This notebook covers basic Data Science concepts, tools, and calculations.

# Data Science Languages
- Python
- R
- SQL
- Julia

### Data Science Libraries
- NumPy
- Pandas
- Matplotlib
- Seaborn

### Data Science Tools
| Tool     | Purpose |
|----------|---------|
| Jupyter  | Code execution & documentation |
| GitHub   | Version control |
| Tableau  | Data visualization |

### Arithmetic Examples
In this section, we will show simple math operations using code cells.

### Objectives
1. Learn Markdown
2. Practice basic arithmetic in Python
3. Explore Data Science tools

### Author
AmirAli Habibi

In [1]:
result = 5 * 2 + 10
print(result)

20

In [2]:
minutes = 135
hours = minutes / 60
print(hours)

2.25